.li{
    display: flex;
    flex: 1 0 15rem;
    align-items: center;
    border: 0.0625rem solid var(--color-grey-3);
    border-radius: 1.5625rem;
    padding: 1.625rem 0rem 1.75rem 1.8125rem;
}

.img {
    margin-right: 2.125rem;
}

.p{
    font-size: var(--font-size-4);
    font-weight: var(--font-height-1);
    line-height: var(--line-height-5);
}


@media (min-width: 700px) {
    .li{
        flex:1 0 20rem;
    }
}